# Variables for running ask-convex (that is, agent.ts)

# OpenAI API Key
OPENAI_API_KEY=your_openai_api_key_here

# DeepSeek API Key.  If set, will be used instead of OpenAI.
DEEPSEEK_API_KEY=your_deepseek_api_key_here

# Private key of a test wallet, without the initial 0x
PRIVATE_KEY=your_wallet_private_key_here
